<div class="group">
  <%= f.label :url %><%= f.error_message_on :url %>
  <%= f.text_field :url, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :interval %><%= f.error_message_on :interval %>
  <%= f.text_field :interval, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:sites, :index)}';return false", :class => :button %>
</div>
